@charset 'utf-8';

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$orange: #fc6b0a;
$dark-purple: #301cc9;
$off-white: #f6f6f6;
$woolwhite: #c0c0c0;
$foot-grey: #272727;

$secondary: #fca40a;	// Main Secondary color */
$secondary-lightest: #ffc868;
$secondary-lighter: #ffb93f;
$secondary-darker: #c77f00;
$secondary-darkest: #9d6400;

$tertiary: #154ea7;	// Main Tertiary color */
$tertiary-lightest: #5980bf;
$tertiary-lighter: #3764ad;
$tertiary-darker: #0c3a83;
$tertiary-darkest: #072d68;

$complement: #06a086;	// Main Complement color */
$complement-lightest: #4cbaa8;
$complement-lighter: #29a691;
$complement-darker: #007e69;
$complement-darkest: #006353;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $foot-grey;
$grey-light: $woolwhite;
$primary: $orange;
$link: $dark-purple;
$widescreen-enabled: false;
$fullhd-enabled: false;
$hr-background-color: $grey-light;

// Update some of Bulma's component variables
$body-background-color: $off-white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
// Import only what you need from Bulma
$footer-background-color: $off-white;

@import '../node_modules/bulma/bulma.sass';

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#nav_bar {
  border-bottom: 1px solid $grey-light;
}

// FIXME: Fjerner også tekst fra navbar på mobil!!
@media screen and (max-width: 768px) {
  a > span:not(.icon) {
    position:  absolute;
    visibility: hidden;
  }

  nav.tabs li:not(.is-active) {
    -ms-flex-negative: 1;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    flex-shrink: 1;
  }

  .tabs .icon {
    margin-left: .5em;
  }
}

.tabs li {
  transition: flex-grow 1s ease;
}
//FIXME: END

.hidden {
  display: none;
}

.btn {
  border: 3px solid $primary;
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
}

input[type='radio'].toggle {
  display: none;

  & + label {
    cursor: pointer;
    min-width: 60px;

    &:hover {
      background: none;
      color: $primary;
    }

    &::after {
      background: $primary;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: left 200ms cubic-bezier(.77, 0, .175, 1);
      width: 100%;
      z-index: -1;
    }
  }

  &.toggle-left + label {
    border-right: 0;

    &::after {
      left: 100%;
    }
  }

  &.toggle-right + label {
    margin-left: -5px;

    &::after {
      left: -100%;
    }
  }

  &:checked + label {
    color: $off-white;
    cursor: default;
    transition: color 200ms;

    &::after {
      left: 0;
    }
  }
}

.hint {
  color: $grey-light;
}

.footer-hr {
  border-top: 1px;
  color: $foot-grey;
  height: 1px;
  width: 100vw;
}

.bd-more-loves {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  text-align: center;
}

.bd-rainbow {
  -webkit-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;
  background-image: linear-gradient(124deg, $primary, #ffaa2a, #23d15e, #009833);
  background-size: 800% 800%;
}

.footer ul, .footer li {
  list-style-type: none;
}

.footer {
  background: url('../images/dust-light.png') repeat;
  line-height: 1rem;
}

hr.foot-hr {
  border: 0;
  border-bottom: 1px solid rgba(246, 246, 246, .6);
  border-top: 1px solid;
  height: 0;
  line-height: 1rem;
  margin: 0 0 25;
  width: 10%;
}

h3 {
  line-height: 1rem;
}

footer {
  a {
    color: $grey-dark;
  }
}

.btn-circle {
  -moz-transition: background .3s ease-in-out;
  -webkit-animation: pulse 2.5s ease infinite;
  // -webkit-text-stroke: 1px #000000;
  -webkit-transition: background .3s ease-in-out;
  animation: pulse 2.5s ease infinite;
  background: 0 0;
  border: 3px solid #fff;
  border-radius: 100% !important;
  color: #fff;
  font-size: 40px;
  height: 70px;
  margin-top: 15px;
  padding: 10px 16px;
  transition: background .3s ease-in-out;
  width: 70px;
}

// .btn-circle,
// .btn-circle {
//   :hover,
//   :focus {
//     background: rgba(192, 192, 192,.6);
//     border: 3px solid #fff;
//     color: #fff;
//     outline: 0;
//     // stroke: 10px solid #000000;
//   }
// }

@-webkit-keyframes rainbow {
  0% {
    background-position: 1% 80%;
  }

  50% {
    background-position: 99% 20%;
  }

  100% {
    background-position: 1% 80%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 1% 80%;
  }

  50% {
    background-position: 99% 20%;
  }

  100% {
    background-position: 1% 80%;
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
