// Ide
<br>
<br>
Start med at forklar kort om produktet <br>
Gå derefter ud i 3 kolonner <br>
der punkter de forskelligeheder <br>
evt med pris til sidst. ved Ekstern skal der stå kontakt os nærmere. <br>
